<head>
    <title>Stundent</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<form Method='POST'>
    <p>Firstname:</p>
    <input type='text' name="form_FirstNameUpdate" placeholder="Firstname" id="form_ID_Firstname">
    <p>Surname:</p>
    <input type='text' name="form_SurnameUpdate" placeholder="Surname" id="form_ID_Surname">
    <p>Present:</p>
    <input type="checkbox" name="form_PresentUpdate" id="form_ID_SubmitBtn"> </br> </br>

    <input type="Submit" name="Submit" value="Verzend"> </br>
</form>